APP_NAME=PD API
JWT_SECRET=change-me
JWT_ALGORITHM=HS256
DATABASE_URL=mysql+pymysql://root:123456@127.0.0.1:3306/pd?charset=utf8mb4
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_DATABASE=PD_db
PORT=8007
COZE_BOT_URL=https://rzdrsddx7s.coze.site/stream_run
COZE_API_TOKEN=eyJhbGciOiJSUzI1NiIsImtpZCI6IjU2ODIxODVhLWU0NjQtNGYxZi04Y2JmLTdiNzM3MTE4Njg1MSJ9.eyJpc3MiOiJodHRwczovL2FwaS5jb3plLmNuIiwiYXVkIjpbInE2YVJKZFBrdmdJek9NUERYemdYT3RTdVU3QkEyN2NGIl0sImV4cCI6ODIxMDI2Njg3Njc5OSwiaWF0IjoxNzczMjExMDIyLCJzdWIiOiJzcGlmZmU6Ly9hcGkuY296ZS5jbi93b3JrbG9hZF9pZGVudGl0eS9pZDo3NjE1ODU4MDc5MDUzMTE5NDk3Iiwic3JjIjoiaW5ib3VuZF9hdXRoX2FjY2Vzc190b2tlbl9pZDo3NjE1ODgzMzQ4NTE0MTc3MDM5In0.DRKch29XtgXTM-UZ9ddMxWGp4VyHmnulC7dNztrk2rc3AvxSHpxCrAcTXp0OGqbS66T5tung3P3C48ICIA9i-cMABzs02rvsrrGKzDc3Rc65l7K0mbHUAApsH44zTL4Oo107bvmrwnhdVQq70xygy5YK0wU2gibC9AVe-KKfa372Fuoo7yCzaTpKx0g29bRxWhk8f52Nq5H-W-fWw3mwc7v2nnZHahy9d76rNRlrwqNrsekWQ1XXgEWNbbo7ZjC0a14rFbYZXcm2A_RAAs8IdDi-aM-rRExZB5B1WxpXa2ma_kfhI2ppj-kBn-OxlsX8l__i5ZCSJBkxnt-P_j-gbQ
COZE_PROJECT_ID=7615853735683588147